*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: .675em;
}

body {
    font-size: 1.6rem;
    font-family: Helvetica, sans-serif;
    background-color: #c6c6c6;
}

input {
    padding: .25rem 1rem;
}

input[type="color"] {
    width: 4rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    padding: 0;
    background-color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="checkbox"] {
    width: 2.2rem;
    height: 2.2rem;
    border: none;
    cursor: pointer;
    /*background-color: transparent;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

#mainCanvas {
    margin: 16px 20px;
    border: 1px solid black;
    background-color: #fff;
    /*position: absolute;*/
}

#canvasContainer {
    overflow: scroll;
    display: block;
    background-color: #828282;
}

#canvasWrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: block;
    padding: 0;
}

.canvas-resizer {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: white;
    position: absolute;
}

#canvasVerticalResizer {
    bottom: 6px;
    left: 50%;
    cursor: s-resize;
    transform: translateX(-50%);
}

#canvasHorizontalResizer {
    top: 50%;
    right: 6px;
    cursor: e-resize;
    transform: translateY(-50%);
}

#canvasSlantResizer {
    right: 6px;
    bottom: 6px;
    cursor: se-resize;
}

.button--action {
    padding: .25rem 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffee00;
    background-color: #0045d9;
    margin: .5rem;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.4rem;
}

.config-row {
    font-size: 1.4rem;
    margin: .75rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.config-label {
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

.config-row input[type="text"],
.config-row input[type="number"],
.config-row input[type="color"],
.config-row input[type="checkbox"] {
    width: 100% !important;
}

.modal {
    position: absolute;
    z-index: 100;
    top: 50vh;
    left: 50vw;
    width: min(30rem, 80vw);
    transform: translate(-50%,-50%);
    text-align: center;
    background-color: #c6c6c6;
    border: 1px solid black;
}

.modal__header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    text-align: center;
    height: 4rem;
    background-color: #0045d9;
    color: #ffee00;
}

.modal__close {
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

.modal__content {
    padding: 1.5rem 2rem;
}

.display-none {
    display: none;
}

.modal__paragraph {
    display: block;
    text-align: center;
    margin: .5rem 0;
}

#footer {
    background-color: #c6c6c6;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin-left: .75rem;
}

@media screen and (min-width: 700px) {
    #mainPanel {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #canvasContainer {
        position: absolute;
        top: 0;
        left: 0;
        overflow: scroll;
        height: calc(100vh - 10rem);
        width: calc(100vw - 28rem);
    }

    #configPanel {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        width: 28rem;
        border-left: 2px solid black;
        background-color: #c6c6c6;
        overflow-y: scroll;
        height: calc(100vh - 10rem);
    }

    #buttonPanel {
        height: 6rem;
        padding: .25rem 1rem;
        border-top: 2px solid black;
        overflow-x: scroll;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #c6c6c6;
        position: absolute;
        bottom: 4rem;
    }

    #footer {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 699px) {
    #mainPanel {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #canvasContainer {
        position: static;
        top: 0;
        left: 0;
        width: 100%;
        overflow: scroll;
    }

    #configPanel {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        width: 100%;
        border-left: 2px solid black;
        background-color: #c6c6c6;
        overflow-y: scroll;
    }

    #buttonPanel {
        height: 6rem;
        padding: .25rem 1rem;
        border-top: 2px solid black;
        overflow-x: scroll;
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #c6c6c6;
        bottom: 0;
    }
}